/* .background {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: grey;


    align-items: center;
    justify-content:center;
}

.box{
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
    padding: 5px;
    /* flex-basis: 50px; 
}
*/

.background {
    background-color: grey;

    display: grid;
    grid-template-columns: repeat(5, auto);
    /* grid-auto-rows: minmax(100px, auto); */
} 


.box {
    /* width: 100px;
    height: 100px; */

    background-color: red;
    margin: 10px;
    padding: 5px;
}

div.box:nth-child(3n) {
    background-color: aqua;
}

div.box:nth-child(3n+1){
    background-color: bisque;
}

div:nth-child(3n+2) {
    background-color: blueviolet;
} 

.first {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.second {
    grid-column: 2 / 4;
    grid-row: 1;
    background-color: blueviolet;
}
.third {
    background-color: black;
    grid-column: 5;
    grid-row: 3;
}