/* div::first-letter{
    font-size: 1000%;
    color: red;
}
div::first-line{
    font-size: 200%;
    color: blue;
}

input::placeholder{
    font-size: larger;
    color: brown;
}


div.myclass:first-child p {
    color: purple;
} */

.background {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px;
    width: 1200px;
    background-color: black;
    justify-content: center;
}

.box {
    width: 100px;   
    height: 100px;
    border: 1px solid grey;
    display: flex;
    align-items: center ;
}

p {
    margin: auto;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
    position: relative;
    /* left: 100px; */
}

.sticky {
    position: sticky;
    /* top: 10px; */
    background-color: purple;
    text-align: center;
    align-items: center;
    /* display: inline-block; */
}

.content {
    float: right;
}
.image {
    float: left;
}
.clear {
    clear: both;
}