body {
    margin: 0px;
    padding: 0px;
    background-color: #8da6bf;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > div {
    display: inline-block;
    width: auto;
    margin: 0px auto;
    padding: 0.75rem 2rem 3rem 2rem;
}

body > div:first-child {
    background-color: #ededed;
}

/* div > span {
    border-bottom: 1px solid grey;
    display: inline-block;
    width: 30%;
}
div > h1 {
    text-align: center;
    display: inline-block;
    width: 35%;

} */

div.registerBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

div.registerBlock > span {
    border-bottom: 1px solid grey;
    display: inline-block;
    width: 30%;
    height: 1px;
}

div.registerBlock > h1 {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    
}

div > p {
    text-align: center;
    opacity: 0.5;
}

form {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2px;
}

/* form > div:first-child > input {
    
} */

input:nth-child(2) ~ input {
    grid-column: 1/3;
}

input:nth-child(2) ~ div {
    grid-column: 1/3;
}
input {
    width: auto;
    margin: 2px;
    padding: 1px;
}

input::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    opacity: 0.5;
}

