
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#header {
    text-align: center;
}

#main {
    background-color:#1d1d1d;
    width: 100%;
    height: 800px;
}
#shape {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    left: 250px;
    top: 250px;

    display: none;
}